*{
    margin: none;
    padding: none;
    display: inline-block;
    background-color: black;
    color: white;
}

title{
    visibility: hidden;
}

header{
    width: 100vw;
    height: auto;
    align-items: center;
    background-color: black;
    color: white;
}

h1{
    height: 100%;
    text-align: center;
}

.map-container{
    position: absolute;
    width: 100vw;
    height: 95vh;
}

svg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    height: 100%;
    width: 100%;
    overflow: visible;
    background: transparent;
}

path{
    position: relative;
    fill: steelblue;
    stroke: 1px solid white;
    background: transparent;
    transition: all 0.3s ease-in-out;
}
path:hover{
    fill: red;
    stroke: 1px solid black;
    z-index: 1;
    transform: scale(1.1);
}

