*{
    margin: none;
    padding: none;
    display: inline-block;
}

header{
    width: 100vw;
    height: 5vh;
    
}

.map-container{
    position: absolute;
    width: 100vw;
    height: 95vh;
}

svg{
    visibility: visible;
    height: 100%;
    width: 100%;
    overflow: visible;
}

path:hover{
    fill: steelblue;
    stroke: darkslateblue;
    z-index: 1;
    transform: scale(2);
}

