*{
    margin: none;
    padding: none;
    display: inline-block;
    background-color: #1E1A19;
    color: white;
}

title{
    visibility: hidden;
}

header{
    width: 100vw;
    height: auto;
    align-items: center;
    background-color: #1E1A19;
    color: white;
}

h1{
    height: 100%;
    text-align: center;
}

.map-container{
    position: absolute;
    width: 100vw;
    height: 95vh;
}

svg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    height: 100%;
    width: 100%;
    overflow: visible;
    background: transparent;
}

path{
    position: relative;
    fill: #c9c3bc81;
    stroke: white;
    stroke-width: 0px;
    background: transparent;
    transition: all 0.8s ease-in-out;
}
path:hover{
    fill: rgba(170, 167, 167, 0.9);
    stroke-width: 1px;
    stroke: white;
    z-index: 4;
    transform: scale(1.01);
}

